@model RestSharpWebClient.Model.OpenIdConnectModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "OpenId - test";
}


<div class="container-fluid">

    <div class="row text-center">
        <div class="col">
            <h2><strong>KeyCloak OpenId</strong> - demo</h2>
        </div>
    </div>

    <div class="row oidc-box">
        <div class="col-lg-6 mx-auto">


            <div class="row text-center">
                <div class="col">
                    <h3>Authentication</h3>
                </div>
            </div>

            <form method="post" action="@Url.Action("OpenIdAuthenticate", "OpenIdConnect")">

                <div class="row mb-1">
                    <div class="col">
                        <label for="Username">Username</label>
                    </div>
                    <div class="col">
                        <input type="text" name="Username" placeholder="Username"/>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col">
                        <label for="Password">Password</label>
                    </div>
                    <div class="col">
                        <input type="password" name="Password" placeholder="Password"/>
                    </div>
                </div>

                <div class="row mb-1 text-right">
                    <div class="col">
                        <input type="submit" value="Authenticate"/>
                    </div>
                </div>
            </form>

            <div class="row mt-2">
                <div class="col col-sm-12">
                    <label for="auth-response">Authentication response:</label>
                    <textarea id="auth-response">@Model.AuthenticationResult</textarea>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mx-auto">

            <div class="row text-center">
                <div class="col">
                    <h3>Token introspection</h3>
                </div>
            </div>

            <form method="post" action="@Url.Action("OpenIdTokenIntrospection", "OpenIdConnect")">

                <div class="row mb-1">
                    <div class="col">
                        <label for="Token">Token</label>
                    </div>
                    <div class="col">
                        <input type="text" name="IntrospectionToken" placeholder="token"/>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <label>Ignore me</label>
                    </div>
                </div>

                <div class="row mb-1 text-right">
                    <div class="col">
                        <input type="submit" value="Introspect token"/>
                    </div>
                </div>
            </form>

            <div class="row mt-2">
                <div class="col col-sm-12">
                    <label for="auth-response">Introspection response:</label>
                    <textarea id="auth-response">@Model.TokenIntrospectionResult</textarea>
                </div>
            </div>

        </div>
    </div>
    <hr/>
    <div class="row oidc-box">
        <div class="col-lg-6 mx-auto">


            <div class="row text-center">
                <div class="col">
                    <h3>OpenStack authentication</h3>
                </div>
            </div>

            <form method="post" action="@Url.Action("OpenStackAuthenticate", "OpenIdConnect")">


                <div class="row mb-1 text-right">
                    <div class="col">
                        <input type="submit" value="Generate Application Credentials"/>
                    </div>
                </div>
            </form>

            <div class="row mt-2">
                <div class="col col-sm-12">
                    <label for="auth-response">OpenStack result:</label>
                    <textarea id="auth-response">@Model.OpenStackResult</textarea>
                </div>
            </div>

        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <form method="post" action="@Url.Action("TestMethod", "OpenIdConnect")">

                <div class="row mb-1 text-center">
                    <div class="col">
                        <input class="btn-warning" style="width: 50%; text-align: center;" type="submit" value="Test method"/>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>